<html>
<head>
<title> Adicionar Contato </title> 
</head>
<body>
	<h1> Adicionar novo Contato </h1>
	<form id="main" action="/contatos/inserir" method="post">
		<label for="nome">
			Nome:
			<input id="nome" type="text" value="">
		</label>

		<br/>

		<label for="codigoArea">
			Cod. Area:
			<input id="codigoArea" type="text" value="">
		</label>

		<br/>

		<label for="fone">
			Fone:
			<input id="fone" type="text" value="">
		</label>

		<br/>

		<label for="cidade">
			Cidade:
			<input id="cidade" type="text" value="">
		</label>

		<br/>
		<input type="submit" value="salvar"/>	
	</form>
</body>
</html>
